@media (max-width: 800px) {
  .task__inner {
    flex-wrap: wrap;
    justify-content: center;
  }
  .task__box {
    flex-basis: 50%;
    margin-bottom: 30px;
  }

  form {
    flex-wrap: wrap;
  }

  input, select {
    margin-bottom: 10px;
  }
}

@media (max-width: 759px) {
  .task__box {
    flex-basis: 100%;
    max-width: 100%;
    margin-bottom: 30px;
  }
  .task__item-descr {
    max-width: 550px;
    overflow: hidden;
    overflow-wrap: break-spaces;
    padding-right: 10px;
  }
  .task__item-name {
    overflow: hidden;
    overflow-wrap: break-spaces;
    padding-right: 10px;
  }
  .task__urgency-icon {
    margin-right: 5px;
  }
}

@media (max-width: 729px) {
  .task__box {
    margin-left: 0;
  }
}

@media (max-width: 700px) {
  .task__wrapper {
    .task__add {
      select,
      input {
        width: 100%;
        margin-left: 0;
      }
    }
  }
}

@media (max-width: 500px) {
  .task__wrapper {
    .task__add {
      .task__add-submit {
        margin-left: 0;
        width: 100%;
      }
    }
  }
}